body {
  max-width: 1920px;
  margin:auto;
  background-image: url(https://html-templates.info/images/pages/140520040122.jpg);
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}


#display {
  grid-column: 1/7;
  grid-row: 2/3;
  margin: auto;
  text-align: right;
  border: 5px solid;
  border-color: #294a9efa;
  width: 30rem;
  background-color: #9dd5e0;
  font-size: 3rem;
  border-radius: 10px;
  padding-right: 1rem;
  outline: none;
}

h1 {
  grid-column: 1/7;
  grid-row: 1/2;
  text-align: center;
}

#all {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 60px repeat(5, 1fr);
  background-color: #1886a2;
  width: 33rem;
  height: 35rem;
  border-radius: 10px;
  box-shadow:
  0 0 0 1px silver,
  0 -20px 0 -10px #fd6f05,
  20px 0 0 -10px #0041ff,
  0 20px 0 -10px gold,
  -20px 0 0 -10px #ff0066;
}

button {
  margin: 10px;
  height: 5rem;
  width: 5rem;
  color: #07f1df;
  background: #045e7c;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 700;
  border-radius: 20px;
  box-shadow: 6px -3px 10px 3px #8df1b6;
  outline: none;
}

#seven {
  grid-column: 1/2;
  grid-row: 3/4;
}

#eight {
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: center;
}

#nine {
  grid-column: 3/4;
  grid-row: 3/4;
}

#divide {
  grid-column: 4/5;
  grid-row: 3/4;
}

#four {
  grid-column: 1/2;
  grid-row: 4/5;
}

#five {
  grid-column: 2/3;
  grid-row: 4/5;
}

#six {
  grid-column: 3/4;
  grid-row: 4/5;
}

#multiply {
  grid-column: 4/5;
  grid-row: 4/5;
}

#one {
  grid-column: 1/2;
  grid-row: 5/6;
}

#two {
  grid-column: 2/3;
  grid-row: 5/6;
}

#three {
  grid-column: 3/4;
  grid-row: 5/6;
}

#plus {
  grid-column: 4/5;
  grid-row: 5/6;
}

#equals {
  grid-column: 5/6;
  grid-row: 5/7;
  height: 11rem;
}

#reset {
  grid-column: 5/6;
  grid-row: 3/5;
  height: 11rem;
}

#percent {
  grid-column: 5/6;
  grid-row: 4/5;
}

#zero {
  grid-column: 1/2;
  grid-row: 6/7;
}

#doubleZero {
  grid-column: 2/3;
  grid-row: 6/7;
}

#dot {
  grid-column: 3/4;
  grid-row: 6/7;
}

#minus {
  grid-column: 4/5;
  grid-row: 6/7;
}

